$font-color: #dfdfdf;
$trans-black: rgba(0, 0, 0, .9);
$shadow-black: rgba(0, 0, 0, .7);
$trans-white: rgba(255, 255, 255, .3);
$light-yellow: rgb(255, 229, 0);
$aqua: rgba(0, 255, 255, .8);
$alt-font-color: #444;
$board-line: 6px solid $aqua;
$black: #000;
$off-white: #eee;
$invalid: #f00;

$chalkboard: 'http://img08.deviantart.net/b5aa/i/2015/140/7/c/chalkboard_by_lorelinde-d8u2phm.jpg';
