$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$trans-black: rgba(0, 0, 0, .4);
$light-yellow: rgb(255, 229, 0);
$aqua: rgba(0, 255, 255, .8);
$alt-font-color: rgb(41, 45, 47);

$board-line: 6px solid $aqua;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('http://img08.deviantart.net/b5aa/i/2015/140/7/c/chalkboard_by_lorelinde-d8u2phm.jpg');
  background-size: cover;
  color: $font-color;
  width: 100%;
}

h4 {
  color: $alt-font-color;
}

.dropdown {
  padding-right: 10px;
}

#user-name {
  color: $light-yellow;
}

.col-md-2 {
  background-color: none;
  // cursor: url('../images/X.png'), auto;
  height: 150px;
  // padding: 20px;

  &:hover {
    background-color: $aqua;
  }

}

.main {
  height: 83%;
  // margin-top: 1%;
  width: 100%;
  // border: 1px dashed yellow;
}

.score, .board, .user-stats, {
  border: 1px dashed white;
  float: left;
}

.score, .user-stats {
  width: 25%;
  height: 100%;
}

.scoreboard-img, .player-stats-img {
  margin: 0 auto;
  padding: 40px 20px 10px 20px;
  height: 100px;
  // border: 1px dashed white;
}

.x-score-block {
  margin-left: -10px;
  position: absolute;;
  left: 60px;
}

.o-score-block {
  margin-left: -10px;
  position: absolute;;
  left: 60px;
  top: 275px;
}

.score-label {
  height: 100px;
  padding-right: 5px;
}

.colon {
  height: 100px;
  padding-right: 30px;

}

.score-num {
  height: 80px;
  left: 80px;
}

.board {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row1,
.row2,
.row3 {
  height: 28%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square {
  height: 100%;
  width: 160px;
  cursor: pointer;
  border-radius: 5px;
  pointer-events: none;

  &:hover {
    background-color: rgba(255,255,255,.3);
  }
}

.square0,
.square3,
.square6 {
  border-right: $board-line;
}

.square0,
.square1,
.square2 {
  border-bottom: $board-line;
}

.square2,
.square5,
.square8 {
  border-left: $board-line;
}

.square6,
.square7,
.square8 {
  border-top: $board-line;
}

.btn-new-game {
  margin: 0 auto;
  position: fixed;
  top:50%;
  left:50%;
  margin-top: -25px;
  margin-left: -130px;
}

.new-game-img {
  height: 50px;
}

.shadowed {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

.game-over {
  left: 40%;
  margin: 0 auto;
  margin-left: -200px;
  margin-top: -100px;
  position: fixed;
  top: 35%;
  transform: rotate(-20deg);
  height: 12%;
}

.player1-turn {
  height: 8%;
  left: 5%;
  // margin: 0 auto;
  position: fixed;
  top: 20%;
  transform: rotate(-18deg);
}

.player2-turn {
  height: 8%;
  right: 5%;
  // margin: 0 auto;
  position: fixed;
  top: 20%;
  transform: rotate(18deg);
}

.winner {
  left: 70%;
  margin: 0 auto;
  margin-left: -200px;
  margin-top: -100px;
  position: fixed;
  top: 45%;
  transform: rotate(15deg);
  height: 16%;
  opacity: .9;
}

.cat {
  left: 50%;
  margin: 0 auto;
  margin-left: -200px;
  margin-top: -100px;
  position: fixed;
  top: 65%;
  transform: rotate(15deg);
  height: 13%;
  opacity: .9;
}

.logo {
  height: 45px;
  margin: -13px 0;
}

.scoreboard {
  margin: 0 auto;
  width: 100%;
}

.title {
  height: 35px;
  margin: 8px -8px;
}

.navbar-btn {
  background-color: $trans-black;

  &:hover {
    background-color: $light-yellow;
  }
}

.register-opp {
  margin-top: 10px;
}

label {
  color: $alt-font-color;
}

.marker {
  height: 100%;
}
