$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$trans-black: rgba(0, 0, 0, .4);
$light-yellow: #ff9;
$aqua: rgba(0, 255, 255, .8);
$alt-font-color: rgb(41, 45, 47);

$board-line: 6px solid $aqua;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('http://img08.deviantart.net/b5aa/i/2015/140/7/c/chalkboard_by_lorelinde-d8u2phm.jpg');
  background-size: cover;
  color: $font-color;
}

h4 {
  color: $alt-font-color;
}

.welcome {
  padding-right: 10px;
}

.col-md-2 {
  background-color: none;
  // cursor: url('../images/X.png'), auto;
  height: 150px;
  // padding: 20px;

  &:hover {
    background-color: $aqua;
  }

}

.main {
  height: 80%;
  margin-top: 1%;
  width: 100%;
  // border: 1px dashed yellow;
}

.score, .board, .user-stats, {
  border: 1px dashed white;
  float: left;
}

.score, .user-stats {
  width: 25%;
  height: 100%;
}

.board {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row1,
.row2,
.row3 {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square {
  height: 100%;
  width: 160px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: rgba(255,255,255,.3);
  }
}

.square0,
.square3,
.square6 {
  border-right: $board-line;
}

.square0,
.square1,
.square2 {
  border-bottom: $board-line;
}

.square2,
.square5,
.square8 {
  border-left: $board-line;
}

.square6,
.square7,
.square8 {
  border-top: $board-line;
}

.btn-new-game {
  margin: 0 auto;
  position: fixed;
  top:50%;
  left:50%;
  margin-top: -20px;
  margin-left: -65px;
}

.logo {
  height: 45px;
  margin: -13px 0;
}

.scoreboard {
  margin: 0 auto;
  width: 100%;
}

.title {
  height: 35px;
  margin: 8px -8px;
}

.navbar-btn {
  background-color: $trans-black;

  &:hover {
    background-color: $light-yellow;
  }
}

.register-opp {
  margin-top: 10px;
}

label {
  color: $alt-font-color;
}

.navbar-bottom {
  background-color: none;
}
