$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors';

//components:
@import 'navbar';
@import 'modals';
@import 'scoreboard';
@import 'board';
@import 'buttons';
@import 'stats';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url($chalkboard);
  background-size: cover;
  color: $font-color;
  margin: 0 auto;
  width: 100%;
}

.main {
  height: 83%;
  margin: 0 auto;
  width: 90%;
}
