.dropdown {
  padding-right: 10px;
}

.logged-in-user {
  color: $light-yellow;
}

.log-in-here {
  height: 25px;
  padding-right: 10px;
}

.shake {
  animation: shake 3s cubic-bezier(.36, .07, .19, .97) both;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.logo {
  height: 45px;
  margin: -13px 0;
}

.title {
  height: 35px;
  margin: 8px -8px;
}

.navbar-btn {
  background-color: $trans-black;

  &:hover {
    background-color: $aqua;
  }
}
